# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Server/nbproject/private/
/Zajednicki/nbproject/private/
/Klijent/nbproject/private/
/Februar2023Zajednicki/nbproject/private/
/Februar2023Server/nbproject/private/
/Februar2023Klijent/nbproject/private/
/Februar2023Zajednicki/dist/
/Februar2023Zajednicki/build/
/Februar2023Server/build/
/Februar2023Klijent/build/
/Sept2022Zajednicki/nbproject/private/
/Sept2022Klijent/nbproject/private/
/Sept2022Zajednicki/dist/
/Sept2022Zajednicki/build/
/Sept2022Server/nbproject/private/
/Sept2022Server/build/
/Sept2022Klijent/build/
/Sept2022Server/dist/
/Mart2022Zajednicki/nbproject/private/
/Mart2022Server/nbproject/private/
/Mart2022Zajednicki/build/
/Mart2022Zajednicki/dist/
/Mart2022Server/build/
/Mart2022Klijent/nbproject/private/
/Mart2022Klijent/build/
/Februar2023Klijent_1/nbproject/private/
/Feb2023Server/nbproject/private/
/FebZajednicki/nbproject/private/
/Feb2023Server/build/
/FebZajednicki/build/
/FebZajednicki/dist/
/Februar2023Klijent_1/build/
/Nov2022Zajednicki/nbproject/private/
/Nov2022Server/nbproject/private/
/Nov2022Zajednicki/dist/
/Nov2022Zajednicki/build/
/Nov2022Klijent/nbproject/private/
/Nov2022Server/build/
/Nov2022Klijent/build/
/Februrar2023Bingo-Zajednicki Dzox/nbproject/private/
/Februra2023Bingo-Server Dzox/nbproject/private/
/Februrar2023Bingo-Zajednicki Dzox/build/
/Februrar2023Bingo-Zajednicki Dzox/dist/
/Februra2023Bingo-Server Dzox/build/
/Januar2023FinalZajednicki/nbproject/private/
/Januar2023FinalServer/nbproject/private/
/Januar2023FinalZajednicki/dist/
/Januar2023FinalZajednicki/build/
/Januar2023FinalKlijent/nbproject/private/
/Januar2023FinalServer/build/
/Januar2023FinalKlijent/build/
/Mart22Zajednicki/nbproject/private/
/Mart22Server/nbproject/private/
/Mart22Zajednicki/build/
/Mart22Zajednicki/dist/
/Mart22Klijent/nbproject/private/
/Mart22Server/build/
/Mart22Klijent/build/
/JanuarFinal2Zajednicki/nbproject/private/
/JanuarFinal2Server/nbproject/private/
/JanuarFinal2Zajednicki/build/
/JanuarFinal2Zajednicki/dist/
/JanuarFinal2Klijent/nbproject/private/
/JanuarFinal2Server/build/
/JanuarFinal2Klijent/build/
/JanuarFinal2Server/dist/
